<form class="form-horizontal" autocomplete="off" #createRoleForm="ngForm" (ngSubmit)="save()">
  <abp-modal-header [title]="'Create New Employee' | localize" (onCloseClick)="bsModalRef.hide()"></abp-modal-header>
  <div class="modal-body">
    <tabset>
      <tab [heading]="'Details' | localize" class="pt-3 px-2">
        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="name">
            {{ "First Name" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="firstName" id="firstName" required minlength="2" maxlength="32"
              [(ngModel)]="role.firstName" #nameModel="ngModel" #firstNameEl />
            <abp-validation-summary [control]="nameModel" [controlEl]="firstNameEl"></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="lastName">
            {{ "Last Name" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="lastName" id="lastName" required minlength="2"
              maxlength="32" [(ngModel)]="role.lastName" #lastNameModel="ngModel" #lastNameEl />
            <abp-validation-summary [control]="lastNameModel" [controlEl]="lastNameEl"></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="title">
            {{ "Title" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="title" id="title" required minlength="2"
              maxlength="32" [(ngModel)]="role.title" #titleElModel="ngModel" #titleEl />
            <abp-validation-summary [control]="titleElModel" [controlEl]="titleEl"></abp-validation-summary>
          </div>
        </div>

        <div class="form-group row required">
          <label class="col-md-3 col-form-label" for="salary">
            {{ "Salary" | localize }}
          </label>
          <div class="col-md-9">
            <input type="text" class="form-control" name="salary" id="salary" required minlength="2"
              maxlength="32" [(ngModel)]="role.salary" #salaryModel="ngModel" #salaryEl />
            <abp-validation-summary [control]="salaryModel" [controlEl]="salaryEl"></abp-validation-summary>
          </div>
        </div>


        <div class="form-group row mb-0">
          <label class="col-md-3 col-form-label">
            {{ "IsActive" | localize }}
          </label>
          <div class="col-md-9">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" name="status" id="status"
                [(ngModel)]="role.status" />
              <label class="custom-control-label mt-2" for="status"></label>
            </div>
          </div>
        </div>


      </tab>
     
    </tabset>
  </div>
  <abp-modal-footer [cancelDisabled]="saving" [saveDisabled]="!createRoleForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"></abp-modal-footer>
</form>